modelsim.ini
xcelium.d/
xrun.history
xrun.log
.bender
bender
work/
compile.tcl
vivado_compile.tcl
working_dir/
transcript
pulp-rt-examples/
pulp-runtime-examples/
pulp-sdk/
*.wlf
*.vstf
.vscode/
*.d
*.so
*.o
